@media screen and (max-width: 600px) {
  body {
    background-color: lightgreen;
  }
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: white;
}

body {
	background: linear-gradient(-45deg, #082032, #2C394B, #334756, #FF4C29);
	background-size: 400% 400%;
	animation: gradient 12s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


a {
  color: #2cb67d;
}

.App {
  text-align: center;
}

.headerClass {
  background: #FF4C29;
	width: 100%;
	height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  border: 1px solid #fffffe;
  border-radius: 3px;
}

.divSocial a {
  margin: 10px;
  font-size: 25px;
}

.btn {
  margin-bottom: 1px;
  margin-left: 35px;
  background-color: transparent;
  font-family: 'Rajdhani', sans-serif;
  font-size: 15px;
  border: 2px solid white;
  width: 100px;
  color: #fffffe;
  transition: 0.5s;
  border-radius: 0.5em;
}

.btn:hover {
  background-color: #f5d000;
  transform:scale(150%);
  color:rgb(26, 28, 43)
}

.imgPerfil {
  border-radius: 190px;
  transition: 0.5s;
  border: 2px solid;
  border-color: white;
}

main {
  display: flex;
  padding: 50px;
}

.title-content {
  font-family: 'Noto Sans JP', sans-serif;
  padding: 30px;
  margin-left: 70px;
}

.title-content h1 {
  margin-left: 190px;
  margin-bottom: 40px;
}

.title-content p {
  font-size: 30px;
}

.title-content h2 {
  margin-top:30px;
}

.title {
  animation: typing 2s steps(22, end);
  animation-delay: 0.2s;
  width: 16ch;
  overflow: hidden;
  white-space: nowrap;
}


.spanName {
  color:#FF4C29;
}

.imgPerfil:hover {
  transform: scale(100%);
  border-radius: 10px;
}

@keyframes typing {
  from {
    width: 0
  }
  to {
    widht: 100%;
  }
}

section {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
}

section h2 {
  margin-bottom: 20px;
  display: flex;
  margin-left: 20px;
}

section img {
  display: flex;
  border: 1px solid white;
  border-radius: 2%;
  margin-bottom:10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.linkProjects {
  font-size: 40px;
  margin-bottom: 50px;
}

.divProjects a {
  text-decoration: none;
  color: white;
}

.divProjects {
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  background-image: url('./images/rocket.svg');
  background-repeat: no-repeat;
  background-position: 20px 20px;
}

.divProjects li {
  list-style: none;
  margin-left: 540px;
  display: flex;
  align-items:flex-start;
}

.backIcon {
  font-size: 60px;
  align-self: flex-start;
  margin-top: 5px;
}

.backIconContact {
  margin-top: 5px;
  font-size: 60px;
  display: flex;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inpt1 input {
  width: 300px;
  height: 30px;
  color:rgb(26, 28, 43);
}

.inpt1 textarea {
  width: 300px;
  height: 150px;
  color:rgb(26, 28, 43);
}

.divSocialContact a {
  font-size: 50px;
  margin: 10px;
}

.contact-form h2 {
  margin-top: 70px;
}
